@charset "UTF-8";
.img__inicio {
  width: 100%;
  height: 520px;
}

.titulo__inicio {
  display: grid;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: #f1f1f1;
  margin: 20px auto;
}

.noticias__container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}
.noticias__container a {
  text-decoration: none;
  color: black;
}
.noticias__container .noticias {
  width: 100%;
  height: 50%;
  background-color: rgba(241, 241, 241, 0.8);
  padding: 20px;
  display: block;
  margin: 10px 40px;
  text-align: center;
}
.noticias__container .noticias .img__noticias {
  height: 30%;
  width: 30%;
  display: inline-block;
}
.noticias__container .noticias .texto__noticias {
  display: inline;
}

.formulario {
  background-color: rgba(12, 12, 12, 0.9);
  color: #f1f1f1;
  margin: 90px auto;
  width: 100%;
  max-width: 400px;
  height: 100%;
  box-shadow: 6px 6px 60px 6px rgba(12, 12, 12, 0.5);
  text-align: center;
  padding: 2rem 2rem;
  border-radius: 10px;
}
.formulario .formulario__titulo {
  font-size: 2rem;
  margin-bottom: 0.5px;
}
.formulario .formulario__container {
  margin-top: 3em;
  display: grid;
  gap: 0.5em;
}
.formulario .formulario__container .formulario__input {
  position: static;
}
.formulario .formulario__container .formulario__radio {
  display: flex;
  justify-content: space-around;
}
.formulario .formulario__container .input {
  width: 100%;
  background: none;
  color: #f1f1f1;
  font-size: 1rem;
  padding: 0.6 0.3;
}
.formulario .formulario__container .boton__formulario__enviar:hover {
  background-color: rgba(145, 238, 145, 0.8);
  border-radius: 150px;
  background-color: rgba(32, 240, 5, 0.8);
  transform: scale(1.12);
  transition: transform 5;
}
.formulario .formulario__container .boton__formulario {
  background-color: rgba(255, 128, 0, 0.8);
  border-radius: 150px;
}

.formulario {
  background-color: rgba(12, 12, 12, 0.9);
  color: #f1f1f1;
  margin: 90px auto;
  width: 100%;
  max-width: 400px;
  height: 100%;
  box-shadow: 6px 6px 60px 6px rgba(12, 12, 12, 0.5);
  text-align: center;
  padding: 2rem 2rem;
  border-radius: 10px;
}
.formulario .formulario__titulo {
  font-size: 2rem;
  margin-bottom: 0.5px;
}
.formulario .formulario__container {
  margin-top: 3em;
  display: grid;
  gap: 0.5em;
}
.formulario .formulario__container .formulario__input {
  position: static;
}
.formulario .formulario__container .formulario__radio {
  display: flex;
  justify-content: space-around;
}
.formulario .formulario__container .input {
  width: 100%;
  background: none;
  color: #f1f1f1;
  font-size: 1rem;
  padding: 0.6 0.3;
}
.formulario .formulario__container .boton__formulario__enviar {
  background-color: rgba(145, 238, 145, 0.8);
  border-radius: 150px;
}
.formulario .formulario__container .boton__formulario__enviar .boton__formulario__enviar:hover {
  background-color: rgba(32, 240, 5, 0.8);
  transform: scale(1.12);
  transition: transform 5;
}
.formulario .formulario__container .boton__formulario {
  background-color: rgba(255, 128, 0, 0.8);
  border-radius: 150px;
}
.formulario .formulario__check {
  display: flex;
  justify-content: center;
}

.formulario {
  background-color: rgba(12, 12, 12, 0.9);
  color: #f1f1f1;
  margin: 90px auto;
  width: 100%;
  max-width: 400px;
  height: 100%;
  box-shadow: 6px 6px 60px 6px rgba(12, 12, 12, 0.5);
  text-align: center;
  padding: 2rem 2rem;
  border-radius: 10px;
}
.formulario .formulario__titulo {
  font-size: 2rem;
  margin-bottom: 0.5px;
}
.formulario .formulario__container {
  margin-top: 3em;
  display: grid;
  gap: 0.5em;
}
.formulario .formulario__container .formulario__input {
  position: static;
}
.formulario .formulario__container .formulario__radio {
  display: flex;
  justify-content: space-around;
}
.formulario .formulario__container .boton__modal {
  padding: 20px;
}
.formulario .formulario__container .boton__modal label {
  padding: 5px 7px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms ease;
}
.formulario .formulario__container .boton__modal label :hover {
  background-color: skyblue;
}
.formulario .formulario__container #btn__modal {
  display: none;
}
.formulario .formulario__container #btn__modal:checked ~ .container__modal {
  display: flex;
}
.formulario .formulario__container .container__modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(144, 148, 150, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.formulario .formulario__container .container__modal .contenido__modal {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}
.formulario .formulario__container .container__modal .contenido__modal h2 {
  margin-bottom: 15px;
  color: black;
}
.formulario .formulario__container .container__modal .contenido__modal p {
  color: black;
  padding: 7px 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.formulario .formulario__container .container__modal .contenido__modal .btn__cerrar {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}
.formulario .formulario__container .container__modal .contenido__modal .btn__cerrar label {
  padding: 7px 10px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms ease;
}
.formulario .formulario__container .container__modal .contenido__modal .btn__cerrar label :hover {
  background-color: skyblue;
}
.formulario .formulario__container .container__modal .cerrar__modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.formulario .formulario__container .container__modal .confirmacion {
  border: 1px solid gray;
}
.formulario .formulario__container .input {
  width: 100%;
  background: none;
  color: #f1f1f1;
  font-size: 1rem;
  padding: 0.6 0.3;
}
.formulario .formulario__container .boton__formulario__enviar {
  background-color: rgba(145, 238, 145, 0.8);
  border-radius: 150px;
}
.formulario .formulario__container .boton__formulario__enviar :hover {
  background-color: rgba(32, 240, 5, 0.8);
  transform: scale(1.12);
  transition: transform 5;
}
.formulario .formulario__container .boton__formulario {
  background-color: rgba(255, 128, 0, 0.8);
  border-radius: 150px;
}

.titulo {
  width: 100%;
  height: 50%;
  background-color: rgba(241, 241, 241, 0.8);
  padding: 20px;
  display: block;
  margin: 10px auto;
  text-align: center;
}

.carrusel {
  display: flex;
  justify-content: center;
  margin: 50px auto 50px auto;
  max-width: 600px;
  height: 100%;
}
.carrusel .texto__perro {
  color: rgb(250, 246, 246);
  background-color: rgba(12, 12, 12, 0.8);
}
.carrusel .carousel-inner {
  z-index: -1;
  border-radius: 10px;
}

.carta {
  display: flex;
  align-items: center;
  background-image: url(../IMG/perro-y-gato-amigos-9_44d53344_230307211742_1280x800.jpg);
  background-position: center;
  width: 62%;
  height: 400px;
  margin: 50px auto;
  padding: 10px;
  border-radius: 30px;
}
.carta .carta__body {
  background: rgba(12, 12, 12, 0.3);
  width: 100%;
  height: 100%;
  color: antiquewhite;
  padding: 30px;
  margin: 5px;
  border-radius: 30px;
  display: inline;
}

.colavo__container {
  background-color: rgba(12, 12, 12, 0.8);
  border-radius: 150px;
  height: 300px;
  width: 62%;
  display: flex;
  text-align: center;
  padding: 30px 30px;
  justify-content: space-around;
  margin: 10px auto;
  color: #f1f1f1;
}
.colavo__container img {
  border-radius: 100%;
  background-color: rgba(145, 238, 145, 0.3);
  width: 200px;
  height: 200px;
}

.nosotros__video {
  background-color: rgba(12, 12, 12, 0.8);
  border-radius: 50px;
  color: #f1f1f1;
  display: grid;
  text-align: center;
  justify-content: center;
  padding: 30px;
  margin: 10px auto;
  width: 62%;
}

footer {
  background-color: #f1f1f1;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.footer__container svg {
  text-decoration: none;
  font-size: 30px;
  width: 30px;
  height: 30px;
  line-height: 60px;
  text-align: center;
  background-color: white;
  color: rgb(92, 90, 90);
  border-radius: 70%;
  box-shadow: 2px 2px 5px rgba(12, 12, 12, 0.5);
}
.footer__container .boton__facebook:hover {
  color: blue;
  background-color: white;
}
.footer__container .boton__ig:hover {
  background: rgb(131, 58, 180);
  background: linear-gradient(31deg, rgb(131, 58, 180) 0%, rgb(253, 29, 29) 56%, rgb(252, 247, 69) 94%);
  color: white;
}
.footer__container .boton__wp:hover {
  background-color: rgb(10, 235, 10);
  color: white;
}
.footer__container .boton__google:hover {
  background-color: white;
  color: red;
}

header {
  position: sticky;
  top: 0;
}

.nav__container {
  background-color: rgb(255, 255, 255);
}
.nav__container .nav {
  flex-grow: 0.05;
}
.nav__container .nav__enlase:hover {
  background-color: rgba(255, 128, 0, 0.6);
  height: 45px;
  border-radius: 30px;
}
.nav__container .peligro:hover {
  background-color: rgba(255, 0, 0, 0.6);
  height: 45px;
  border-radius: 30px;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Barlow Condensed", sans-serif;
}

body {
  background-image: url(../IMG/Diseño\ sin\ título\ \(7\).png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 400px) {
  .colavo__container img {
    height: 100px;
    width: 100px;
  }
  .noticias {
    margin: 5px, 0px;
  }
}
@media screen and (max-width: 600px) {
  .noticias {
    margin: 10px, 20px;
  }
  .img__inicio {
    display: none;
  }
  .img__noticias {
    display: inline-block;
    text-align: center;
  }
}
@media screen and (max-width: 760px) {
  .carta {
    background-image: none;
    display: grid;
    margin: 10px 0px;
    width: 100%;
    height: 100%;
  }
  .carta .carta__body {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .carta__body {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .colavo__container {
    flex-direction: column;
    margin: auto;
    height: 100%;
    padding: auto;
  }
  .titulo {
    display: block;
  }
}
@media screen and (max-width: 900px) {
  .img__noticias {
    display: inline-block;
  }
  .noticias {
    margin: 10px 100px 10px 100px;
  }
}

/*# sourceMappingURL=estilos.css.map */
