.carrusel{
    display: flex;
    justify-content: center;
    margin: 50px auto 50px auto;
    max-width: 600px;
    height: 100%;
    .texto__perro{
        color: rgb(250, 246, 246);
        background-color: rgba(12, 12, 12 , 0.8);
    }
    .titulo{
        display: flex;
        text-align: center;
        background-color: rgba(12, 12, 12 , 0.8);
        color: #f1f1f1;
        height: 90%;
    }
}