header{
    position: sticky;
    top: 0;
}
.nav__container{
    background-color: rgb(255,255,255);
    .nav{
        flex-grow: 0.05;}
        .nav__enlase:hover{
            background-color: rgba(255, 128, 0, 0.6);
            height: 45px;
            border-radius: 30px;
        }
        .peligro:hover{
            background-color: rgba(255, 0, 0, 0.6);
            height: 45px;
            border-radius: 30px;
}
}

